PORT=3000
# Atlas : Connect > Drivers > copiez l'URI et remplacez <user>, <password> et le nom de la base
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/ma_base?retryWrites=true&w=majority
